@using SimchaCont.web.Models;
@using SimchaContributions.data;
@model HistoryModel
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>History for random person</h1>
            <h3>Current Balance: @Model.Total.ToString("c")</h3>
        </div>

        <div class="row header">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    @foreach (HistoryItem h in Model.HistoryItems)
                    {
                    <tr>
                        <td>
                           @h.Transaction
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            @h.Date.ToLongDateString()
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            @h.Amount.ToString("c")
                        </td>
                    </tr>
                    }

                </table>
            </div>
        </div>

        <div style="text-align:center;">
            <a class="btn-lg btn-danger" href="/ContController1/IndexContributers">Back to Contributors</a>
        </div>
    </main>
</div>